body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #AEB6BF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.countdown-container {
    text-align: center;
    background: #F2D7D5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#timer {
    font-size: 1.5rem;
    color: #555;
}

#timer span {
    font-weight: bold;
    color: #222;
}
